<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> Admin<span class="dashboard_text"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/product">
              <i class="fa fa-laptop"></i>
              <span>Products</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/product/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/product/display"><i class="fa fa-angle-right"></i>Display</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Category</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/category/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/category/display"><i class="fa fa-angle-right"></i>Display</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Subcategory</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/subcategory/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/subcategory/display"><i class="fa fa-angle-right"></i>Display</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Order</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/order/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/order/display"><i class="fa fa-angle-right"></i>Display</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Order Details</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/orderdetails/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/orderdetails/display"><i class="fa fa-angle-right"></i>Display</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>User</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/user/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/user/display"><i class="fa fa-angle-right"></i>Display</a></li>
              </ul>
            </li>
            
            <li class="header">Settings</li>
            <li><a href="/changepassword"><i class="fa fa-angle-right text-red"></i> <span>ChangePassword</span></a></li>
            <li><a href="#"><i class="fa fa-angle-right text-yellow"></i> <span>Reports</span></a></li>
            <li><a href="/login"><i class="fa fa-angle-right text-aqua"></i> <span>Logout</span></a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
  </aside>